extends ../layouts/mainheader

block intro
	h3.visible-xs #{__('about.wherewework.title')}
	h3.visible-sm #{__('about.wherewework.title')}
	h3.visible-lg.visible-md #{__('about.wherewework.title')}

block content
	.content-container.visible-xs.visible-sm
		p #{__('about.wherewework.maincontent')}
	.content-container.visible-md.visible-lg
		p #{__('about.wherewework.maincontent')}

