extends ../layouts/mainheader

block intro
	h3 #{__('about.ourteam.title')}

mixin teammemberBoardDiv (teammember)
	if teammember.role === "board"
		if teammember.image			
			a(href=teammember._.image.fit(200,200))
				span.imagethumb
					img(src=teammember._.image.fit(200,200))
					span.imagecaption #{teammember.name.first} #{teammember.name.last}
				section
					h9 #{teammember.name.first} #{teammember.name.last} -
					br
					#{teammember.type} #{teammember.bio}

mixin teammemberStaffDiv (teammember)
	if teammember.role === "staff"
		if teammember.image			
			a(href=teammember._.image.fit(200,200))
				img(src=teammember._.image.fit(200,200))
				section
					h9 #{teammember.name.first} #{teammember.name.last} -
					br
					#{teammember.type} #{teammember.bio}

block content
	.content-container
		.gallery
			h6 Board Members
			br
			if teammembers.length
				each teammember in teammembers
					+teammemberBoardDiv(teammember)
			else
				h3.text-muted There are no Board Members yet.
			br
			br
			br
			h6 Staff Members
			br
			if teammembers.length
				each teammember in teammembers
					+teammemberStaffDiv(teammember)
			else
				h3.text-muted There are no Staff Members yet.


block extendscripts
	script(src='/js/jquery.poptrox.min.js')
	script(src='/js/about-ourteam.js')