extends ../layouts/mainheader

block head 
	link(href="/styles/slick-theme.css", rel="stylesheet")
	link(href="/styles/slick.css", rel="stylesheet")

block intro
	h3 #{__('about.ourstudents.title')}

mixin studentDiv (student)
	div
		.student
			h3 #{student.name.first} #{student.name.last}

			if student.image
				.col-sm-4.col-md-4: img(src=student._.image.fit(150,150)).img-rounded
			
			p #{student.bio}


block content
	.content-container
		div.ourstudents-small
			if students.length
				each student in students
					+studentDiv(student)
			else
				h3.text-muted There are no students yet.

block extendscripts
	script(src='/js/slick.min.js')
	script(src='/js/about-ourstudents.js')