extends ../layouts/mainheader

mixin studentsDiv (student)
	if student.image
		div.card
			a(href=student._.image.fit(200,200))
				img(src=student._.image.fit(200,200))
				section
					h9 #{student.name.first} #{student.name.last} -
					br
					#{student.type} #{student.bio}

block content
	.content-container
		h2 Our Students
		.gallery
			if students.length
				each student in students
					+studentsDiv(student)
			else
				h3.text-muted There are no Students yet.

block extendscripts
	script(src='/js/jquery.poptrox.min.js')
	script(src='/js/init-gallery.js')
