extends ../layouts/mainheader

block intro
	h3 #{__('about.wherewework.title')}

block content
	.content-container
		.line #{__('about.wherewework.p1')}
	.content-container-alt
		h7 #{__('about.wherewework.p2')}
		.line #{__('about.wherewework.p3')} 
	.content-container
		h6 #{__('about.wherewework.p4')}
		.line #{__('about.wherewework.p5')}
		.line #{__('about.wherewework.p6')}
	.content-container-alt
		h7 #{__('about.wherewework.p7')}
		ul
			li #{__('about.wherewework.p8')}
			li #{__('about.wherewework.p9')}
			li #{__('about.wherewework.p10')}
			li #{__('about.wherewework.p11')}
			li #{__('about.wherewework.p12')}
			li #{__('about.wherewework.p13')}
			li #{__('about.wherewework.p14')}
			li #{__('about.wherewework.p15')}
			li #{__('about.wherewework.p16')}
			li #{__('about.wherewework.p17')}
			li #{__('about.wherewework.p18')}
			li #{__('about.wherewework.p19')}
			li #{__('about.wherewework.p20')}
			li #{__('about.wherewework.p21')}
			li #{__('about.wherewework.p22')}
			li #{__('about.wherewework.p23')}
		h5 #{__('about.wherewework.p24')}