extends ../layouts/mainheader

block intro
	h3 #{__('about.ourteam.title')}

mixin teammemberBoardDiv (teammember)
	if teammember.role === "board"
		if teammember.image			
			a(href=teammember._.image.fit(200,200) title=teammember.type)
				img(src=teammember._.image.fit(200,200))

	//- p #{teammember.type}
	//- p #{teammember.role}
	//- p #{teammember.bio}

	//- if teammember.image
		//	img(src=teammember._.image.fit(100,100))
	//- h3 #{teammember.name.first} #{teammember.name.last}



block content
	.content-container
		.gallery 
			if teammembers.length
				each teammember in teammembers
					+teammemberBoardDiv(teammember)
			else
				h3.text-muted There are no Board Members yet.

block extendscripts
	script(src='/js/jquery.poptrox.min.js')
	script(src='/js/about-ourteam.js')