extends ../layouts/mainheader

mixin renderTeamMember (teamMember)
	if teamMember.image
		div.card
			a(href=teamMember._.image.fit(350,350))
				img(src=teamMember._.image.fit(350,350))
				section
					h9 #{teamMember.name.first} #{teamMember.name.last} -
					br
					#{teamMember.type} #{teamMember.bio}

block content
	.content-container
		h2 Staff Members
		.gallery
			if teamMembers.length
				each teamMember in teamMembers
					+renderTeamMember(teamMember)
			else
				h3.text-muted There are no Staff members yet.


block extendscripts
	script(src='/js/jquery.poptrox.min.js')
	script(src='/js/init-gallery.js')
