extends ../layouts/mainheader

block intro
	h3.visible-xs #{__('about.whatwedo.title')}
	h3.visible-sm #{__('about.whatwedo.title')}
	h3.visible-lg.visible-md #{__('about.whatwedo.title')}

block content
	.content-container.visible-xs.visible-sm
		.line #{__('about.whatwedo.p1')}
		h5 #{__('about.whatwedo.p2')}
		.line #{__('about.whatwedo.p3')} 
		h5 #{__('about.whatwedo.p4')}
		.line #{__('about.whatwedo.p5')} #{__('about.whatwedo.p6')}
		.line #{__('about.whatwedo.p7')}
		h4 #{__('about.whatwedo.p8')}
		h6 #{__('about.whatwedo.p9')}
		.line #{__('about.whatwedo.p10')}
		h6 #{__('about.whatwedo.p11')}
		.line #{__('about.whatwedo.p12')}
		h6 #{__('about.whatwedo.p13')}
		.line #{__('about.whatwedo.p14')}
		h6 #{__('about.whatwedo.p15')}
		ul
			li #{__('about.whatwedo.li1')}
			li #{__('about.whatwedo.li2')}
			li #{__('about.whatwedo.li3')}
			li #{__('about.whatwedo.li4')}
	.content-container.visible-md.visible-lg
		.line #{__('about.whatwedo.p1')}
		h5 #{__('about.whatwedo.p2')}
		.line #{__('about.whatwedo.p3')} 
		h5 #{__('about.whatwedo.p4')}
		.line #{__('about.whatwedo.p5')} #{__('about.whatwedo.p6')}
		.line #{__('about.whatwedo.p7')}
		h4 #{__('about.whatwedo.p8')}
		h6 #{__('about.whatwedo.p9')}
		.line #{__('about.whatwedo.p10')}
		h6 #{__('about.whatwedo.p11')}
		.line #{__('about.whatwedo.p12')}
		h6 #{__('about.whatwedo.p13')}
		.line #{__('about.whatwedo.p14')}
		h6 #{__('about.whatwedo.p15')}
		ul
			li #{__('about.whatwedo.li1')}
			li #{__('about.whatwedo.li2')}
			li #{__('about.whatwedo.li3')}
			li #{__('about.whatwedo.li4')}


