extends ../layouts/mainheader

block head 
	link(href="/styles/slick-theme.css", rel="stylesheet")
	link(href="/styles/slick.css", rel="stylesheet")

block intro
	h3.visible-xs #{__('about.ourteam.title')}
	h3.visible-sm #{__('about.ourteam.title')}
	h3.visible-lg.visible-md #{__('about.ourteam.title')}

block content
	.content-container.visible-xs.visible-sm
		div.ourstaff-small
			div #{__('about.ourteam.nicolasutton')}
				p #{__('about.ourteam.nicolasuttondesc')}
			div #{__('about.ourteam.henrywolokolie')}
				p #{__('about.ourteam.henrywolokoliedesc')}
			div content 
			div content
			div content
			div content 
	.content-container.visible-md.visible-lg
		div.ourstaff
			div #{__('about.ourteam.nicolasutton')}
				p #{__('about.ourteam.nicolasuttondesc')}
			div #{__('about.ourteam.henrywolokolie')}
				p #{__('about.ourteam.henrywolokoliedesc')}
			div content 
			div content
			div content
			div content
	script(src='/js/slick.min.js')

block extrascripts
	- $('.ourstaff').slick({
		infinite: true,
		slidesToShow: 2,
		slidesToScroll: 1
	});
	- $('.ourstaff-small').slick({ 
		infinite: true,
	 	slidesToShow: 1,
		slidesToScroll: 1
	});