extends ../layouts/donateheader

block intro
	h3.visible-xs #{__('donate.title')}
	h3.visible-sm #{__('donate.title')}
	h3.visible-lg.visible-md #{__('donate.title')}

block content
	.content-container.visible-xs.visible-sm
		p
		| <strong> #{__('donate.maincontent')} </strong>
		p #{__('donate.p1')}
		p #{__('donate.p2')}
		p #{__('donate.p3')}
	.content-container.visible-md.visible-lg
		p
		| <strong> #{__('donate.maincontent')} </strong>
		p #{__('donate.p1')}
		p #{__('donate.p2')}
		p #{__('donate.p3')}