extends ../layouts/donateheader


mixin donateButton ()
	.donatebutton.
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick" />
			<input type="hidden" name="hosted_button_id" value="2ZX8YPSZQR7N6" />
			<input type="submit" value="Donate Now" name="submit" title="PayPal - The safer, easier way to pay online!" class="paypalbutton">
		</form>

mixin renderDonation (donateOption)
	if donateOption.image
		div.card
			a(href=donateOption._.image.fit(100,100))
				img(src=donateOption._.image.fit(100,100))
				section
					h9 #{donateOption.title} #{donateOption.donationAmount} -
					br
					#{donateOption.message}



block content
	.content-container
		h6 enter your amount
		.donationOptions
			if donateOptions.length
				each donateOption in donateOptions
					+renderDonation(donateOption)
			else
				h3.text-muted There are no options for donation yet
		.directpayment
			<form method="post" action="donate" target="_top">
				input(type='hidden', name='action', value='donate')
				<input class="form-control" type="number" name="donationAmount" placeholder="Amount in USD" min=5 required="true"/>
				<input class="form-control" type="text" name="name" placeholder="Name (optional)">
				<input class="form-control" type="email" name="email" placeholder="E-mail (optional)">
				<input type="submit" value="Donate Now" name="submit" title="PayPal - The safer, easier way to pay online!" class="paypalbutton">
			</form>
