extends ../layouts/mainheader

block head
	link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css", rel="stylesheet")

block pagetitle
	h3 #{__('getinvolved.volunteer.title')}

mixin volunteerIntro()
	div
		p
		| <strong> #{__('getinvolved.volunteer.subtitle')} </strong>
		p #{__('getinvolved.volunteer.p1')}
		p #{__('getinvolved.volunteer.p2')}

mixin volunteerForm()
	div
		h7 #{__('getinvolved.volunteer.p3')}
		form(name="volunteer", method="post")
			input(type='hidden', name='action', value='volunteer')
			div.input
				span.label #{__('getinvolved.volunteer.firstname')}
				input(type="text", name="name.first" value=formData['name.first'])
			div.input
				span.label #{__('getinvolved.volunteer.lastname')}
				input(type="text", name="name.last" value=formData['name.last'])
			div.input
				span.label #{__('getinvolved.volunteer.dob')}
				input.dob(type="text", name="dob", value=formData['dob'])
			div.input
				span.label #{__('getinvolved.volunteer.proposedstartdate')}
				input.datepicker(type="text", name="proposedStartDate", value=formData['proposedStartDate'])
			div.input
				span.label #{__('getinvolved.volunteer.proposedenddate')}
				input.datepicker(type="text", name="proposedEndDate", value=formData['proposedEndDate'])
			div.input
				span.label #{__('getinvolved.volunteer.email')}
				input(type="text", name="email", value=formData['email'])
			div.input
				span.label #{__('getinvolved.volunteer.areasofinterest')}
				input(type="text", name="areasOfInterest", value=formData['areasOfInterest'])
			div.input
				span.label #{__('getinvolved.volunteer.qualifications1')}
				input(type="text", name="qualifications", value=formData['qualifications'])
			div.input
				span.label #{__('getinvolved.volunteer.qualifications2pt1')}
				span.label #{__('getinvolved.volunteer.qualifications2pt2')}
				textarea(type="text", name="teacherQualifications", cols="40", rows="5") #{formData['teacherQualifications']}
			div.input
				span.label #{__('getinvolved.volunteer.more')}
				textarea(type="text", name="more", cols="40", rows="5") #{formData['more']}
			div.actions
				input(type="submit", value="submit")

mixin formSubmitted()
	div
		p Thankyou for registering your interest


block content
	if formSubmitted
		+formSubmitted()
	else
		//- DS: just an idea to remove the '| <br>'? Is there a reason it's needed I'm not thinking of?
		style.
			div.input span.label {
				display: block;
				text-align: left;
			}
		.content-container-alt
			+volunteerIntro()
			+volunteerForm()


block extendscripts
	script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.en-GB.min.js')


	//- DS: switched it to bootstrap-datepicker (cos bootstrap),
	//-     here we conditionally load the german language so the date picker is in the right language too :)
	-var locale = getLocale()
	if locale === 'de'
		script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.de.min.js')

	script.
		var defaultDateOptions = {
			language: '#{locale}' === 'en' ? 'en-GB' : '#{locale}', //force british english if 'en'
			autoclose: true,
			todayHighlight: true,
		}
		$( document ).ready(function() {
			$(".dob").datepicker($.extend(defaultDateOptions, {
				yearRange: '1950:2016'
			}));
			$(".datepicker").datepicker(defaultDateOptions);

		});
