extends ../layouts/mainheader

block intro
	h3 #{__('getinvolved.events.title')}

block content
	.content-container
		h6 Events
		p
		| <strong> #{__('getinvolved.events.maincontent')} </strong>
		p #{__('getinvolved.events.p1')}
		p #{__('getinvolved.events.p2')}
		p #{__('getinvolved.events.p3')}
