extends ../layouts/mainheader

block head 
	link(href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css", rel="stylesheet")

block intro
	h3.visible-xs #{__('getinvolved.volunteer.title')}
	h3.visible-sm #{__('getinvolved.volunteer.title')}
	h3.visible-lg.visible-md #{__('getinvolved.volunteer.title')}

block content
	.content-container.visible-xs.visible-sm
		p
		| <strong> #{__('getinvolved.volunteer.subtitle')} </strong>
		p #{__('getinvolved.volunteer.p1')}
		p #{__('getinvolved.volunteer.p2')}
	.content-container-alt.visible-xs.visible-sm
		h7 #{__('getinvolved.volunteer.p3')}
		form(name="volunteer", method="post")
			div.input
				span.label #{__('getinvolved.volunteer.firstname')}
				| <br>
				input(type="text", name="firstname")
			div.input
				span.label #{__('getinvolved.volunteer.lastname')}
				| <br>
				input(type="text", name="lastname")
			div.input
				span.label #{__('getinvolved.volunteer.dob')}
				| <br>
				input(type="text", name="dob", id="dob")
			div.input
				span.label #{__('getinvolved.volunteer.proposedstartdate')}
				| <br>
				input(type="text", name="proposedstartdate", id="proposedstartdate")
			div.input
				span.label #{__('getinvolved.volunteer.proposedenddate')}
				| <br>
				input(type="text", name="proposedenddate", id="proposedenddate")
			div.input
				span.label #{__('getinvolved.volunteer.email')}
				| <br>
				input(type="text", name="email")
			div.input
				span.label #{__('getinvolved.volunteer.areasofinterest')}
				| <br>
				input(type="text", name="areasofinterest")
			div.input
				span.label #{__('getinvolved.volunteer.qualifications1')}
				| <br>
				input(type="text", name="qualifications1")
			div.input
				span.label #{__('getinvolved.volunteer.qualifications2pt1')}
				| <br>
				span.label #{__('getinvolved.volunteer.qualifications2pt2')}
				| <br>
				textarea(type="text", name="qualifications2", cols="40", rows="5")
			div.input
				span.label #{__('getinvolved.volunteer.more')}
				| <br>
				textarea(type="text", name="more", cols="40", rows="5")
			div.actions
				input(type="submit", value="submit")
	.content-container.visible-md.visible-lg
		p
		| <strong> #{__('getinvolved.volunteer.subtitle')} </strong>
		p #{__('getinvolved.volunteer.p1')}
		p #{__('getinvolved.volunteer.p2')}
	.content-container-alt.visible-md.visible-lg
		h7 #{__('getinvolved.volunteer.p3')}
		form(name="volunteer", method="post")
			div.input
				span.label #{__('getinvolved.volunteer.firstname')}
				| <br>
				input(type="text", name="firstname")
			div.input
				span.label #{__('getinvolved.volunteer.lastname')}
				| <br>
				input(type="text", name="lastname")
			div.input
				span.label #{__('getinvolved.volunteer.dob')}
				| <br>
				input.dob(type="text", name="dob", id="dob")
			div.input
				span.label #{__('getinvolved.volunteer.proposedstartdate')}
				| <br>
				input.proposedstartdate(type="text", name="proposedstartdate", id="proposedstartdate")
			div.input
				span.label #{__('getinvolved.volunteer.proposedenddate')}
				| <br>
				input.proposedenddate(type="text", name="proposedenddate", id="proposedenddate")
			div.input
				span.label #{__('getinvolved.volunteer.email')}
				| <br>
				input(type="text", name="email")
			div.input
				span.label #{__('getinvolved.volunteer.areasofinterest')}
				| <br>
				input(type="text", name="areasofinterest")
			div.input
				span.label #{__('getinvolved.volunteer.qualifications1')}
				| <br>
				input(type="text", name="qualifications1")
			div.input
				span.label #{__('getinvolved.volunteer.qualifications2')}
				| <br>
				textarea(type="text", name="qualifications2", cols="40", rows="5")
			div.input
				span.label #{__('getinvolved.volunteer.more')}
				| <br>
				textarea(type="text", name="more", cols="40", rows="5")
			div.actions
				input(type="submit", value="submit")

block extendscripts
	script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
	script(src='/js/get-involved-volunteer.js')



