extends ../layouts/mainheader

block intro
	h3.visible-xs #{__('getinvolved.subscribe.title')}
	h3.visible-sm #{__('getinvolved.subscribe.title')}
	h3.visible-lg.visible-md #{__('getinvolved.subscribe.title')}

block content
	.content-container.visible-xs.visible-sm
		p
		| <strong> #{__('getinvolved.subscribe.maincontent')} </strong>
		p #{__('getinvolved.subscribe.p1')}
		p #{__('getinvolved.subscribe.p2')}
		p #{__('getinvolved.subscribe.p3')}
	.content-container.visible-md.visible-lg
		p
		| <strong> #{__('getinvolved.subscribe.maincontent')} </strong>
		p #{__('getinvolved.subscribe.p1')}
		p #{__('getinvolved.subscribe.p2')}
		p #{__('getinvolved.subscribe.p3')}