extends ../layouts/mainheader

block intro
	h3 #{__('getinvolved.fundraise.title')}

block content
	.content-container
		h6 Fundraise
		p
		| <strong> #{__('getinvolved.fundraise.maincontent')} </strong>
		p #{__('getinvolved.fundraise.p1')}
		p #{__('getinvolved.fundraise.p2')}
		p #{__('getinvolved.fundraise.p3')}