extends ../layouts/mainheader

block intro
	h3.visible-xs #{__('getinvolved.index.title')}
	h3.visible-sm #{__('getinvolved.index.title')}
	h3.visible-lg.visible-md #{__('getinvolved.index.title')}

block content
	.content-container.visible-xs.visible-sm
		p
		| <strong> #{__('getinvolved.index.maincontent')} </strong>
		p #{__('getinvolved.index.p1')}
		p #{__('getinvolved.index.p2')}
		p #{__('getinvolved.index.p3')}
	.content-container.visible-md.visible-lg
		p
		| <strong> #{__('getinvolved.index.maincontent')} </strong>
		p #{__('getinvolved.index.p1')}
		p #{__('getinvolved.index.p2')}
		p #{__('getinvolved.index.p3')}