extends ../layouts/mainheader

block intro
	h3.visible-xs #{__('getinvolved.volunteer.title')}
	h3.visible-sm #{__('getinvolved.volunteer.title')}
	h3.visible-lg.visible-md #{__('getinvolved.volunteer.title')}

block content
	.content-container.visible-xs.visible-sm
		p
		| <strong> #{__('getinvolved.volunteer.maincontent')} </strong>
		p #{__('getinvolved.volunteer.p1')}
		p #{__('getinvolved.volunteer.p2')}
		p #{__('getinvolved.volunteer.p3')}
	.content-container.visible-md.visible-lg
		p
		| <strong> #{__('getinvolved.volunteer.maincontent')} </strong>
		p #{__('getinvolved.volunteer.p1')}
		p #{__('getinvolved.volunteer.p2')}
		p #{__('getinvolved.volunteer.p3')}