extends ../layouts/default

block content
	.intro-container
		.container
			img.logo.visible-xs.visible-sm(src='/images/logo@2x.png')
			img.logo.visible-md.visible-lg(src='/images/logo@2x.png')
			img.heroimage.hidden-xs(src='/images/hero@2x.png')
			img.heroimage.visible-xs(src='/images/hero@2x.png')
			h1.visible-xs OUR SCHOOL LIBERIA
			h1.visible-sm OUR SCHOOL LIBERIA
			h1.visible-md OUR SCHOOL LIBERIA
			h1.visible-lg OUR SCHOOL LIBERIA
			a(href="/donate").donatenow.visible-xs #{__('intro.donatenow')}
			a(href="/donate").donatenow.visible-sm #{__('intro.donatenow')}
			a(href="/donate").donatenow.visible-lg.visible-md #{__('intro.donatenow')}
			a(class="home-icon fb visible-xs" target="#" href="http://www.facebook.com")
				img(src='/images/icons/fb.png')
			a(class="home-icon li visible-xs" target="#" href="http://www.linkedin.com")
				img(src='/images/icons/li.png')
			a(class="home-icon vm visible-xs" target="#" href="http://www.vimeo.com")
				img(src='/images/icons/vm.png')
			a(class="home-icon yt visible-xs" target="#" href="http://www.youtube.com")
				img(src='/images/icons/yt.png')
			a(class="home-icon fb visible-sm" target="#" href="http://www.facebook.com")
				img(src='/images/icons/fb.png')
			a(class="home-icon li visible-sm" target="#" href="http://www.linkedin.com")
				img(src='/images/icons/li.png')
			a(class="home-icon vm visible-sm" target="#" href="http://www.vimeo.com")
				img(src='/images/icons/vm.png')
			a(class="home-icon yt visible-sm" target="#" href="http://www.youtube.com")
				img(src='/images/icons/yt.png')
			a(class="home-icon fb visible-md visible-lg" target="#" href="http://www.facebook.com")
				img(src='/images/icons/fb.png')
			a(class="home-icon li visible-md visible-lg" target="#" href="http://www.linkedin.com")
				img(src='/images/icons/li.png')
			a(class="home-icon vm visible-md visible-lg" target="#" href="http://www.vimeo.com")
				img(src='/images/icons/vm.png')
			a(class="home-icon yt visible-md visible-lg" target="#" href="http://www.youtube.com")
				img(src='/images/icons/yt.png')
		.aboutnow-prev.visible-xs.visible-sm
			h2 #{__('intro.aboutourschool')}
			p.aboutnow-prev-p #{__('intro.aboutourschoolprev')}
				br
				br
				a(href="/about") #{__('intro.readmore')}
		.aboutnow-prev.visible-md.visible-lg
			h2 #{__('intro.aboutourschool')}
			p.aboutnow-prev-p #{__('intro.aboutourschoolprev')}
				br
				br
				a(href="/about") #{__('intro.readmore')}