extends ../layouts/mainheader

block pagetitle
	h3 #{__('news.updates.title')}

block content
	article
		if !data.post
			h2 Invalid Post.
		else
			header
				.content-container
					h8: a(href="#{buildLanguageUrl('news.updates')}") &larr; #{__('backto')} #{__('updates')}
					h6= data.post.title
					h8 Posted 
						if data.post.publishedDate
							| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.categories && data.post.categories.length
							| in 
							each cat, cat_i in data.post.categories
								a(href='/news/updates/category/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| , 
								else
									|  
						if data.post.author
							| by #{data.post.author.name.first}
				.content-container-alt
					.post
						if data.post.image.exists
							.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
						!= data.post.content.full
