extends default

block content
	p.text-larger  #{subscriber.name.full} just subscribed:
	if subscriber.name.full || subscriber.email
		p.text-larger
			if subscriber.name.full
				| <strong>#{subscriber.name.full}</strong>
			if subscriber.name.full && subscriber.email
				|  (
			if subscriber.email
				| <a href="mailto:#{subscriber.email}">#{subscriber.email}</a>
			if subscriber.name.full && subscriber.email
				| )
		p.text-larger Preferred Language: #{subscriber.preferredLanguage.name}
	
	p.text-muted Sent #{subscriber._.createdAt.format()}
	p &nbsp;
	+button({ url: 'http://localhost:3000/admin/subscribers/' + subscriber.id, label: 'Open In Admin' })
